.container{
	width: 100%;
	height: 2000px;
	background-color: lightgray;
	font-family: 'Poppins', sans-serif;
}

/*header*/
.header{
	display: block;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: 50px;
	padding: 10px;
    background-color: lightgray;
}

.logo{
	display: inline-block;
	vertical-align: middle;
	margin-right: 70px;
}

.nav-div{
	display: inline-block;
	vertical-align: middle;
	margin-right: 20px;
}

.header-img{
	display: inline-block;
}
.round-img{
	width: 20px;
	border-radius: 50%;
    vertical-align: middle;
}

.nav-li{
	display: inline-block;
	margin-right: 15px;
}
.nav-a{
	color: black;
	text-transform: uppercase;

}

/*MAIN*/
.main{
	display: block;
	margin: 50px 30px 20px 130px ;
}

.sect-1 h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 15px 0;
	padding-top: 20px;

}

.img-pos{
	position: relative;
}
.img-pos p{
	position: absolute;
	color: white;
	top:20%;
	left: 10%;
	font-size: 16px;
	font-weight: 400;
}

.sect1-block{
	margin: 30px;
}
.sect1-block p{
	color: lightgray;
	margin-bottom: 10px;
}
.img-div{
	display: inline-block;
	width: 25%;
	background-color: white;
	height: 310px;
	vertical-align: top;
	margin-bottom: 10px;
}
.img-sect1{
	width: 100%;
	object-fit: cover;
}

.img-div-middle{
	margin: 0 100px;
}

.fa-regular{
	color: gray;
	display: inline-block;
}
.descr-p{
	display: inline-block;
	margin-left: 7px;
	color: lightgray;

}



.sect-2 h2{
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	margin: 10px 0;
}

.first-div{
	display: inline-block;
	width: 60%;
	vertical-align: top;
	
}
.second-div{
	display: inline-block;
	width: 28%;
	max-width: 370px;
	vertical-align: top;
	margin-left: 36px;
	
}
.img-sect2{
	width: 100%;
	display: block;
	margin-bottom: 20px;
	
}
.img2-sect2{
	width: 100%;
	display: block;
	margin-bottom: 40px;

}


/*footer*/
.footer{
	display: block;
	width: 100%;
	background-color: gray;
	color: white;
	padding: 20px;
}
.footer-logo{
	display: inline-block;
	vertical-align: top;
	margin-left: 140px;
	margin-right: 60px;
}
.footer-uls{
	display: inline-block;
	vertical-align: top;
}
.footer-links{
	display: inline-block;
	vertical-align: top;
	margin-left: 80px;
}
.footer-ul{
	display: inline-block;
	vertical-align: top;
	margin-right: 55px
}
.icon{
	margin-left: 15px;
}